.contactWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    min-height: 500px;
    margin: 0 auto;

    @media (orientation: landscape) and (min-width: 640px) {
        flex-direction: row !important;
        justify-content: flex-start !important;
    }

    @media (min-width: 1920px) {
        margin: 0 auto;
        max-width: 1920px;
    }
}

.contact {
    margin: 0 20px 20px;
    min-height: 600px;
    width: auto;

    @media (min-width: 1024px) {
        margin: 0 40px 40px;
    }

    @media (min-width: 1200px) {
        margin: 80px 80px;
    }

    @media (min-width: 1400px) {
        margin-top: 120px;
    }

    &__head {
        margin-bottom: 20px;
        width: 35vw;

        @media (min-width: 1024px) {
            margin-bottom: 80px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: white;
        padding: 30px;
        margin: 20px 0;
        border-radius: 10px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 13px 9px rgba(0, 0, 0, 0.01);
        transition: .3s;
        min-height: 500px;
    }

    &__label {
        color: $lightGrey;
        text-transform: uppercase;
        font-size: 0.625rem;
        margin-top: 20px;

        &--message {
            margin: 60px 0 20px;
        }
    }

    &__name,
    &__email,
    &__message,
    &__tel {
        font-size: 18px;
        font-family: $mainFont;
        padding: 5px 0;
        margin: 0;
        border: unset;
        border-bottom: 1px solid $black;
        min-height: 50px;
        width: 90%;
    }

    &__message {
        min-height: 70px;
    }

    &__errors {
        color: red;
        font-size: 0.8em;
    }

    &__button {
        width: 130px;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    &__img {
        display: flex;
        flex-direction: column;
        width: 70%;

        @media (orientation: landscape) and (min-width: 640px) {
            align-self: flex-end;
        }

        @media (orientation: landscape) and (min-width: 1024px) {
            width: 40%;
            margin-left: 100px;
        }

        &--note {
            height: 60%;

            @media (orientation: landscape) and (min-width: 1024px) {
                margin-left: 50px;
            }
        }
    }

    &__info {
        font-size: 12px;
        max-width: 80%;

        @media (orientation: landscape) {
            max-width: 50%;
        }

        @media (orientation: landscape) and (min-width: 1024px) {
            font-size: 17px;
            max-width: 60%;
        }
    }
}


.columnImages__imgDietitian--note {
    width: 60%;
}

.localization {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90vw;
    height: auto;

    @media (orientation: landscape) and (min-width: 1200px) {
        width: 50vw;
    }

    &__address {
        display: flex;
        flex-direction: column;

        & p,
        & a,
        .contact__info {

            font-weight: 400;
            font-size: 15px;
            color: $grey;
            margin: 0;

            @media (orientation: landscape) and (min-width: 1024px) {
                font-size: 20px;
                line-height: 1.5;
                max-width: 40vw;
            }
        }

        & .localization__name {
            font-weight: 800;
            margin-bottom: 5px;
            font-size: 17px;

            @media (min-width: 1024px) {
                font-size: 22px;
            }
        }
    }



}