@keyframes bulb {
    0% {
        top: -10%;
        transform: rotate(0deg) scale(1);
    }

    50% {
        top: -15%;
        transform: rotate(180deg) scale(1.04);
    }

    100% {
        top: -10%;
        transform: rotate(360deg) scale(1);
    }
}

html {
    font-family: 'Open Sans', sans-serif;
}

.wrapStart {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.columnTexts {
    margin: 80px 20px 20px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    & h1,
    &__head {
        font-weight: 600px;
        font-size: 40px;
        color: $black;
    }

    & p,
    &__descriptionText {
        font-weight: 400;
        font-size: 15px;
        color: $grey;
        width: 90%;
        margin: 10px 0;
    }
}

.columnImages {
    max-width: 90vw;
    flex-grow: 1;

    &__wrap {
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        text-align: center;
    }

    &__imgDietitian {
        width: 100%;
        margin-bottom: -4px;
        z-index: 999;
    }

    &__blob {
        position: absolute;
        animation: bulb linear 3s infinite;
        width: 100%;
        z-index: -1;

    }
}