.owl-carousel {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.testimonials {
    margin: 20px 20px 60px;
    max-width: 1920px;
    overflow: hidden;

    @media (min-width: 1024px) {
        margin: 20px 40px 100px;
    }

    @media (min-width: 1200px) {
        margin: 0 80px 180px;
    }

    @media (min-width: 1920px) {
        max-width: 1920px;
        margin: 0 auto;
    }

    &__head {
        margin-bottom: 30px;

        @media (min-width: 1024px) {
            margin-bottom: 120px;
        }
    }
}

.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;

    @media (min-width:1024px) {
        font-size: 17px;
    }
}

.testimonial-name {
    background-color: $orange;
    color: white;
    outline: none;
    border: 2px solid transparent;
    font-weight: 400;
    font-size: 17px;
    padding: 8px 30px;
    border-radius: 15px;
    transition: .3s;
    margin: -17px auto 0;
    letter-spacing: 1px;
    display: table;
    width: auto;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

#customers-testimonials .item {
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;

    @media (min-width:1024px) {
        margin-bottom: 40px;
    }

    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
    cursor: grab;

    &:hover {
        transform: scale(1.1);
    }
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
    border-radius: 50%;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: $orange;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: $orange;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}